.cart-card-full-row {
    height: 100%;
}

.cart-card-row {
    height: 50%;
    border-top: 1px solid #b2b2b2;
}

.cart-card-button {
    margin-left: 10px;
    border: none;
    background-color: #ffffff;
}

.card-cart-box {
    display: flex;
    text-align: center;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #353535;
    border-radius: 7px;
    justify-content: center;
}

.cart-card-price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin: 0px;
}
