.example {
  margin: 12px;
}

/* Force update ant style */
.ant-input {
  padding: 12px 12px 8px 11px;
}

.ant-select .ant-select-selector {
  padding: 16px 10px 4px 11px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: 16px 10px 4px 11px;
  height: 48px;
}

.ant-select-single .ant-select-selector .ant-select-selection-search {
  top: 16px;
}

.teste {
  text-decoration: none;
  color: #0f4c81;
}

.field-label {
  position: relative;
  margin-bottom: 1.5em;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.form-label {
  font-weight: normal;
  letter-spacing: 0.4px;
  font-size: 14px;
  position: absolute;
  top: -10px;
  left: 12px;
  padding: 0 6px;
  background: #ffffff;
  width: auto;
}

.input-field {
  border: 1px solid #d9d9d9;
  padding-left: 1em;
  border-radius: 7px;
  min-height: 3.2em;
  color: #000000;
  display: block;
  outline: none;
}

.input-field-error {
  border: 1px solid #d32f2f;
  padding-left: 1em;
  border-radius: 7px;
  min-height: 3.2em;
  color: #000000;
  display: block;
  outline: none;
}

input-field-error:focus {
  border: 1px solid #353535;
}

::placeholder {
  color: #d9d9d9;
  letter-spacing: 0.15px;
  font-size: 100%;
  line-height: 50%;
}

.unit {
  position: absolute;
  display: block;
  left: 1em;
  top: 0.85em;
  z-index: 9;
}

.dashed {
  cursor: pointer;
  max-width: 150px;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #d9d9d9;
}

.submit{
  background-color: #0F4C81;
  border: none;
  border-radius: 7px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 1.5em;
  margin-bottom: 2em;
}
